<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet" href="css/style.css")
  body
    header.header-main
      .nav-main
        .nav-main__logo-container
          a(href="#")
            img.nav-main__logo(src="./img/logo.png" alt="логотип")
        .nav-main__phone-n-adress
          a.nav-main__phone(href="#") +7 (343) 371-77-66/377-60-47
          p.nav-main__adress г. Екатеринбург, пр. Ленина, д. 5/4
          a.nav-main__hamburger(href="#")
      .nav__list
        ul
          li
            a(href="#") О компании
          li
            a(href="#") Услуги
          li
            a(href="#") Новости
          li
            a(href="#") Команда
          li
            a(href="#") Про боно и поддержка бизнеса
          li 
            a(href="#") Партнёры
    main.main-page
      section.news-slider
        .slider
          .slider__item
            .slider__item-container
              h2.slider__title Новость 1
              p.slider__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без 
              a.slider__btn(href="#") Подробнее
            .slider__img-container
              img.src(src="./img/house.png" alt="дом")
      section.about-company
        .about-company__text-container
          h2.about-company__title О компании
          p.about-compnay__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без
        .services
          h2.services__title Услуги
          ul.services__list
            li 
              a(href="#") Представление интересов в судах
            li 
              a(href="#") Налоговый консалтинг
            li
              a(href="#") Аудит
          a.main-link(href="#") Все услуги
            img(src="/img/arrow.svg")
      section.victories
        h2.victories__main-title Наши победы
        .victories-post__row
          a.victories-post(href="#")
            .victories-post__img
              img(src="./img/victories-photo.png")
            h3.victories-post__title Представление интересов в судах
            p.victories-post__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой" для текстов на латинице с начала XVI века.
          a.victories-post(href="#")
            .victories-post__img
              img(src="./img/victories-photo.png")
            h3.victories-post__title Представление интересов в судах
            p.victories-post__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой" для текстов на латинице с начала XVI века.
          a.victories-post(href="#")
            .victories-post__img
              img(src="./img/victories-photo.png")
            h3.victories-post__title Представление интересов в судах
            p.victories-post__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой" для текстов на латинице с начала XVI века.
          a.victories-post(href="#")
            .victories-post__img
              img(src="./img/victories-photo.png")
            h3.victories-post__title Представление интересов в судах
            p.victories-post__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой" для текстов на латинице с начала XVI века.
          a.victories-post(href="#")
            .victories-post__img
              img(src="./img/victories-photo.png")
            h3.victories-post__title Представление интересов в судах
            p.victories-post__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой" для текстов на латинице с начала XVI века.
          a.victories-post(href="#")
            .victories-post__img
              img(src="./img/victories-photo.png")
            h3.victories-post__title Представление интересов в судах
            p.victories-post__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой" для текстов на латинице с начала XVI века.
        .victories__btn 
          a(href="#") Все новости
      section.proBono
        .proBono__logo
          img(src="./img/pro_bono_logo 1.png" alt="Про боно")
        .proBono__features
          ul.proBono__list
            li 
              a(href="#") Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
            li 
              a(href="#") Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. 
            li 
              a(href="#") Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
          a.main-link(href="#") Подробнее
            img(src="/img/arrow.svg")
      section.reviews
        h2.reviews__title Отзывы
        .reviews__container
          .review-block
            .review-block__header
              img.review-block__thumb(src="./img/house.png")
              h3.review-block__title Название компании
            .review-block__body
              p.review-block__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой" для текстов на латинице с начала XVI века. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой" для текстов на латинице с начала XVI
          .review-block
            .review-block__header
              img.review-block__thumb(src="./img/house.png")
              h3.review-block__title Название компании
            .review-block__body
              p.review-block__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой" для текстов на латинице с начала XVI века. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой" для текстов на латинице с начала XVI
          .review-block
            .review-block__header
              img.review-block__thumb(src="./img/house.png")
              h3.review-block__title Название компании
            .review-block__body
              p.review-block__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой" для текстов на латинице с начала XVI века. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой" для текстов на латинице с начала XVI    
    section.map
      h2.map__title Наша география
      .map__container
        img(src="/img/map.png", alt="Карта")
    .modal
      .modal__header
        h2.modal__title Заголовок
        a.modal__cross(href="#")
      .modal__body
        form(action="#" )
          input(type="text" placeholder="Ваше имя")
          input(type="phone" placeholder="Номер телефона")
          input(type="mail" placeholder="Почта")
          input(type="checkbox")
          label(for="checkbox") Я согласен в политикой обработки данных
          input(type="submit")
    footer.main-footer
      .contacts
        a.contacts__modal(href="#") Связаться с нами
        a.contacts__phone(href="#") +7 (343) 371-77-66/377-60-47
        p.contacts__adress  г. Екатеринбург, пр. Ленина, д. 5/4
      .logo-container
        a(href="#")
          img(src="./img/logo.png", alt="Логотип")
    script(src="js/main.js")
